body{
    text-align: center;
    font-family: Open-sans, sans-serif;
    background-color: #8A71C9;
    color:#ffffff;
}

.titulo-azul{
    color: #2A0074;
}

.titulo-verde{
    color: #04ff9f;
}

.titulo-rosa{
    color: #ff9e9e;
}

.titulo-amarelo{
    color: #ffe36d;
}

section{
    max-width: 60%;
}